djangorestframework==3.12.4
Django==3.2.5
Pygments==2.10.0
Markdown==3.2.1
coreapi==2.3.3
psycopg2-binary==2.8.4
dj-database-url==0.5.0
gunicorn==20.0.4
whitenoise==5.0.1
PyYAML==5.1.1
requests==2.26.0
requests-toolbelt==0.9.1

asgiref==3.4.1
astroid==2.4.1
certifi==2021.5.30
charset-normalizer==2.0.3
cmake==3.17.2
cycler==0.10.0
defusedxml==0.7.1
httpie==2.5.0
idna==3.2
isort==4.3.21
jedi==0.17.0
joblib==0.14.1
lazy-object-proxy==1.4.3
mccabe==0.6.1
parso==0.7.
Pillow==8.3.2
pyparsing==2.4.7
PySDL2==0.9.7
PySocks==1.7.1
python-dateutil==2.8.1
pytz==2021.1
sqlparse==0.4.1
threadpoolctl==2.1.0
toml==0.10.1
typed-ast==1.4.1
urllib3==1.26.6
wrapt==1.12.1
